
body{margin:0;font-family:Inter;background:#e5e5e5;color:#111;}
.subhead{
    font-size: 17px;
    margin-bottom: 5px;
}
.substr{
    color: #6b6b6b;
}
.page{max-width:900px;margin:20px auto;background:white;display:flex;min-height:1200px;}
.left{
    width: 40%;
    background: #f4f4f4;
    padding: 40px;
    box-sizing: border-box;
    color: #474747;
}
.right{
    width: 60%;
    background: #1a1a1a;
    color: rgb(228, 228, 228);
    padding: 40px;
    box-sizing: border-box;
}
img.profile{width:100%;height:auto;background:#ccc;}
h1{font-size:32px;margin:20px 0 0 0;}
h2{font-size:22px;margin-top:30px;margin-bottom:10px;font-weight:700;}
p,li{line-height:1.5;font-size:15px;}
.contact{margin-top:20px;font-size:15px;}
.contact div{margin-bottom:6px;}
.section{margin-top:30px;}
ul{padding-left:20px;margin:10px 0;}
.right h2{color:white;border-bottom:2px solid white;display:inline-block;padding-bottom:4px;}

.h1bigger{
    font-size: 65px;
}
.dotcontainter{
    position: absolute;
}
.timeline-point{
    position: relative;
    top: -5px;
    right: 20px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin: 20px 0;
}
.rcontainer{
    padding-bottom: 20px;
}
.contli{
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}
.contspan{
    width: 18px; 
    display: inline-block;
    margin-right: 12px;
}
.contul{
    list-style: none; 
    padding: 0; 
    margin: 0;
}
